.header {
  &__logo {
    width: 20rem;
    cursor: pointer;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    display: flex;
    list-style: none;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 4rem;
    }

    &:first-child {
      color: $color-primary;
    }
  }

  &__link,
  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}

.presentation {
   height: calc(100vh - 13.6rem);
   background-image: url("../img/hero.jpeg");
   background-size: cover;
   background-position: center;
   //padding: 4rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }

   display: flex;
   align-items: center;
   justify-content: flex-start;

   &__text-box {
     width: 50rem;
   }
}