.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 4rem;

  &__logo {
    width: 20rem;
    height: 100%;
  }
}

.navigation {
  display: flex;
  list-style: none;

  &__item:not(:last-child) {
    margin-right: 4rem;
  }
}