%btn-common {
  border: none;
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;

  @media only screen and (max-width: $bp-medium) {
    font-size: 18px;
  }

  span {
    display: flex;
    align-items: center;

    &::after {
      content: '';
      display: inline-block;
      height: 35px;
      width: 35px;
      margin-left: 10px;

      -webkit-mask-image: url("../img/SVG/arrow.svg");
      -webkit-mask-size: cover;

      mask-image: url("../img/SVG/arrow.svg");
      mask-size: cover;

      background-color: $color-main;
    }
  }
}

.btn {
  @extend %btn-common;
  border-radius: 1.6rem;
  padding: 1.6rem;

  @media only screen and (max-width: $bp-smallest) {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &--primary {
    background-color: $color-main;
    color: #fff;

    span::after {
      background-color: #fff;
    }
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-main;
  }

  &--transparent {
    border: 1px solid $color-main;
    background-color: transparent;
    color: $color-main;
  }
}

.btn-text {
  @extend %btn-common;
  border: none;
  background-color: transparent;
  color: $color-main;
}