.card {
    background-color: $color-grey-1;
    border-radius: 3.2rem;
    padding: 3rem;

    display: flex;
    flex-direction: column;

  &__category {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background-color: $color-main;
    padding: .6rem 2.4rem;
    border-radius: .8rem;
    align-self: flex-start;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__name {

    &::after {
      display: inline-block;
      content: '';
      height: 1px;
      width: 100%;
      background-color: $color-grey-4;
      transform: translateY(-.6rem);
    }
  }

  &__overview {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__prices {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__old-price {
    margin-right: 1rem;
    color: $color-grey-4;
    text-decoration: line-through;
  }

  &__new-price {
    font-size: 20px;
    color: $color-main;
  }

  &__star {
    font-size: 16px;
    color: $color-secondary;
  }
}