.offer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8rem 4rem;

  @media only screen and (max-width: $bp-small){
    flex-direction: column;
    padding: 6rem 2rem;
  }

  &__card {
    width: 66rem;
    padding: 12rem 6rem;
    background-size: cover;
    background-position: left;
    border-radius: 3rem;
    height: 100%;
    font-size: 4rem;

    @media only screen and (max-width: $bp-large){
      width: calc(50% - 4rem);
    }

    @media only screen and (max-width: $bp-small){
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 4rem;

      @media only screen and (max-width: $bp-small){
        margin-right: 0;
        margin-bottom: 4rem;
      }
    }

    p {
      width: 26rem;
      line-height: 4.8rem;
    }

    &--1 {
      background-image: url("../img/offer-1.jpeg");
      color: #fff;
    }

    &--2 {
      background-image: url("../img/offer-2.jpeg");
      color: $color-main;
    }
  }
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-grey-1;
  
  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
  }

  &__img {
    width: 50%;
    height: 100%;

    @media only screen and (max-width: $bp-large) {
      width: 100%;
    }
  }

  &__info {
    width: 50%;

    @media only screen and (max-width: $bp-large) {
      width: 100%;
    }
  }

  .advantages {

    &__item {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-rows: min-content min-content min-content;
      grid-column-gap: 20px;
      grid-row-gap: 10px;

      @media only screen and (max-width: $bp-small) {
        align-items: center;
      }

      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 96px;
      width: 96px;
      background-color: #fff;
      border-radius: 2rem;
      font-size: 48px;
      color: $color-primary;
      grid-column: 1 / 2;
      grid-row: 1 / -1;

      @media only screen and (max-width: $bp-small) {
        grid-row: 1 / 2;
      }
    }

    &__title {
      grid-column: 2 / -1;

      @media only screen and (max-width: $bp-smallest) {
        word-spacing: 100vw;
      }
    }

    &__text {
      grid-column: 2 / -1;
      line-height: 1.4;

      @media only screen and (max-width: $bp-small) {
        grid-column: 1 / -1;
      }
    }

    &__icon-box {
      height: 96px;
      width: 96px;
      padding: 24px;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}

.product {

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 43rem);
    grid-template-rows: max-content max-content;
    justify-content: center;
    grid-gap: 3rem;

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: repeat(auto-fit, 100%);
    }
  }
}

.testimonial {
  background-image: url("../img/testimonial.jpeg");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15rem 0;

  @media only screen and (max-width: $bp-medium) {
    background-image: none;
    background-color: #FCFCFC;
    padding: 8rem 2rem;
  }

  &__photo {
    height: 112px;
    width: 112px;
    border-radius: 50%;
  }

  &__star {
    font-size: 24px;
    color: $color-secondary;
  }

  &__text {
    width: 60%;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
    }
  }

  span {
    font-size: 14px;
  }
}

.offer-products {
  background-color: $color-main;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__headings {

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 3rem;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 43rem);
    justify-content: center;
    grid-gap: 3rem;

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: repeat(auto-fit, 100%);
    }
  }
}

.eco {
  padding: 8rem 4rem;

  background-image: url("../img/eco.jpeg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media only screen and (max-width: $bp-large) {
    justify-content: center;
    background-size: cover;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 30rem 0 0;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    border-radius: 3.2rem;
    background-color: #fff;
    box-shadow: 1.5rem 1.5rem 4rem 0 rgba(0, 0, 0, .2);

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      border-radius: 0;
      box-shadow: none;
    }
  }

  &__text:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.features {
  background-color: $color-grey-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 43rem);
  justify-content: center;
  grid-gap: 3rem;

  @media only screen and (max-width: $bp-small) {
    padding: 8rem 2rem;
    grid-template-columns: repeat(auto-fit, 100%);
  }

  &__item {
    border-radius: 3.2rem;
    min-height: 58rem;
    padding: 5rem;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    
    &--1 {
      background-image: url("../img/feature-1.jpeg");
    }

    &--2 {
      background-image: url("../img/feature-2.jpeg");
    }

    &--3 {
      background-image: url("../img/feature-3.jpeg");
    }
  }

  &__name {
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    padding: 3rem 0;
    border-radius: 2.4rem;
  }
}

.news {

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__headings {

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 3rem;
    }
  }

  &__discover {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    border-radius: 3.2rem;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    max-height: calc(((100% - 80px - 2rem) + 14rem) / 1.5);

    &--1 {
      background-image: url("../img/news-1.jpeg");
    }

    &--2 {
      background-image: url("../img/news-2.jpeg");
    }
  }

  &__date {
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 14rem;

    strong {
      font-size: 30px;
    }

    span {
      font-size: 14px;
      line-height: 1;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1.5rem 1.5rem 4rem 0 rgba(0, 0, 0, .2);
    align-items: flex-start;
    background-color: #fff;
    border-radius: 3.2rem;
    padding: 4rem;
    height: max-content;

    @media only screen and (max-width: $bp-medium) {
      padding: 2rem;
      margin: -1rem;
    }
  }

  &__user {
    display: flex;
    align-items: center;

    i {
      font-size: 24px;
      color: $color-primary;
      margin-right: 10px;
    }
  }
}

.subscribe {

  &__content {
    background-image: url("../img/subscribe.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 6rem;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    @media only screen and (max-width: $bp-medium) {
      padding: 4rem;
    }
  }

  &__title {
    @media only screen and (max-width: $bp-large) {
      margin-bottom: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
      background-color: rgba(#fff, 0.4);
      border-radius: 2rem;
      padding: 8px;
    }
  }

  &__form {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__input {
    margin-right: 2rem;
    width: 40rem;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }
}